<%= stylesheet_link_tag "home.css" %>
<div class='home_pg'>
<%= image_tag 'credly_logo.png', :class=>"header_img"%> 
<div class="home_links">
<h2><%= link_to 'View Available Badges', badges_path, :class=>"home_links" %></h2>
<h2><%= link_to 'View List of Heroes', characters_path, :class=>"home_links" %></h2>
</div>
</div>

